.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.stars {
  display: flex;
  flex-direction: row;
  height: 40px;
}
.star {
  width: 50px;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ratingUser {
  font-weight: bold;
  font-size: 20px;
}
.rate {
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
