.container {
  max-width: 1700px;
  width: 100%;
  margin: 30px auto;
}
.genresList {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid white;
  padding: 0 20px;
}
.genre {
  list-style: none;
  color: #04b4c2;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.blockGenre {
  height: 35px;
  transition: 0.5s;
}
.blockGenreActive {
  height: 35px;
  border-bottom: 8px solid #04b4c2;
  transition: 0.2s;
}

@media (max-width: 750px) {
  .genresList {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
