.block {
  max-width: 800px;
  width: 100%;
  margin: 30px auto;
  background-color: rgba(238, 178, 159, 0.6);
  border: 5px solid white;
  border-radius: 15px;
  position: relative;
}
.comment {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
.author {
  font-family: "Open Sans";
  font-size: 21px;
  margin: 0;
}
.text {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}
.commentHead {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
.vertical {
  margin: 0 10px;
}
.date {
  color: #736868;
}
.trashIconBlock {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-right: 20px;
}
.delete {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .block {
    max-width: 600px;
    padding: 0 10px;
  }
}

@media (max-width: 500px) {
  .block {
    max-width: 350px;
    padding: 0 10px;
  }
}

@media (max-width: 325px) {
  .block {
    max-width: 250px;
  }
}
