.button {
  width: 220px;
  height: 45px;
  margin: 20px 0;
  background-color: #04b4c2;
  color: white;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
.button:hover {
  opacity: 0.7;
  transition: 0.2s;
}
